
$main_background_color:#175687;
$title1_color:#DDDDDD;
$nav_background_color:#104066;
$nav_a_a_border_color:#444444;
$nav_color:#999999;
$nav_hover_background_color:#363F44;
$nav_hover_color:#FFFFFF;
$header_background_color:#104066;
$header_description_color:#787F84;
$header_description_hover_color:#CCCCCC;
$footer_background_color:#363F44;
$footer_color:#CCCCCC;
$grid_background_color:rgba(0,0,0, 0);
$grid_color:#DDDDDD;
$grid_border_color:#666666;
$grid_header_color:#DDDDDD;
$grid_header_border_color:#DFDFDF;
$grid_tr_hover_background_color:#333C4E;
$grid_tr_hover_color:#DDDDDD;
$tab_background_color:#363F44;
$tab_color:#DDDDDD;
$tab_selected_background_color:#22272B;
$tab_selected_color:#DDDDDD;
$button_background_color:rgba(0,0,0, 0);
$button_color:#DDDDDD;
$button_border_color:rgba(0,0,0, 0);
$button_hover_background_color:rgba(0,0,0, 0);
$button_hover_color:#FFFFFF;
$button_hover_border_color:rgba(0,0,0, 0);
$button_disabled_background_color:rgba(82,95,105, 0);
$button_disabled_color:#909192;
$button_disabled_border_color:rgba(0,0,0, 0);
$combobox_background_color:#30383E;
$combobox_color:#DDDDDD;
$combobox_selected_item_background_color:#3F596D;
$combobox_selected_item_color:#DDDDDD;
$combobox_button_background_color:#AAAAAA;
$combobox_button_color:#404040;
$input_background_color:#0584EA;
$input_color:#DDDDDD;
$input_placeholder_color:#B7B7B7;
$input_border_color:rgba(0,0,0, 0);
