$prefix: "--"; //Prefix string for custom CSS properties

//Merges a variable name with $prefix
@function custom-property-name($name) {
    @return $prefix + $name;
}

// Defines a custom property
@mixin define-custom-property($name, $value) {
    #{custom-property-name($name)}: $value;
}

body {

    // Append SASS variables which are desired to be accesible:
    @include define-custom-property('main-background-color', $main_background_color);
    //@include define-custom-property('main-color', $main_color);

    //Lables and Titles
    @include define-custom-property('title-1-color', $title1_color);

    //Header
    @include define-custom-property('header-background-color', $header_background_color);
    @include define-custom-property('header-color', $header_description_color);
    @include define-custom-property('header-color-hover', $header_description_hover_color);

    //Footer
    @include define-custom-property('footer-background-color', $footer_background_color);
    @include define-custom-property('footer-color', $footer_color);

    //Grid
    @include define-custom-property('grid-color', $grid_color);
    @include define-custom-property('grid-background-color', $grid_background_color);
    @include define-custom-property('grid-border-color', $grid_border_color);
    @include define-custom-property('grid-header-color', $grid_header_color);
    @include define-custom-property('grid-header-border-color', $grid_header_border_color);
    @include define-custom-property('grid-row-hover-color', $grid_tr_hover_color);
    @include define-custom-property('grid-row-hover-background-color', $grid_tr_hover_background_color);

    //Toolbar
    @include define-custom-property('nav-background-color', $nav_background_color);
    @include define-custom-property('nav-border-color', $nav_a_a_border_color);
    @include define-custom-property('nav-color', $nav_color);
    @include define-custom-property('nav-hover-background-color', $nav_hover_background_color);
    @include define-custom-property('nav-hover-color', $nav_hover_color);


    // Tabs
    @include define-custom-property('tab-selected-background-color', $tab_selected_background_color);
    @include define-custom-property('tab-selected-color', $tab_selected_color);
    @include define-custom-property('tab-background-color', $tab_background_color);
    @include define-custom-property('tab-color', $tab_color);

}

$main_background_color: var(--main-background-color);
//$main_color: var(--main-color);

$title1_color: var(--title-1-color);

// Header
$header_background_color: var(--header-background-color);
$header_description_color: var(--header-color);
$header_description_hover_color: var(--header-color-hover);

// Footer
$footer_background_color: var(--footer-background-color);
$footer_color: var(--footer-color);

// Grid
$grid_color : var(--grid-color);
$grid_border_color: var(--grid-border-color);
$grid_header_color : var(--grid-header-color);
$grid_header_border_color: var(--grid-header-border-color);
$grid_background_color: var(--grid-background-color);
$grid_tr_hover_background_color: var(--grid-row-hover-background-color);
$grid_tr_hover_color: var(--grid-row-hover-color);


// Toolbar
$nav_background_color: var(--nav-background-color);
$nav_a_a_border_color: var(--nav-border-color);
$nav_color: var(--nav-color);
$nav_hover_background_color: var(--nav-hover-background-color);
$nav_hover_color: var(--nav-hover-color);


// Tabs
$tab_selected_background_color : var(--tab-selected-background-color);
$tab_selected_color : var(--tab-selected-color);
$tab_color : var(--tab-color);
$tab_background_color : var(--tab-background-color);
