
/*
$main_background_color:#E1F4D9;
$title1_color:#8A83A6;
$nav_background_color:#2E3337;
$nav_a_a_border_color:#444444;
$nav_color:#999999;
$nav_hover_background_color:#363F44;
$nav_hover_color:#FFFFFF;
$header_background_color:#AFBDA9;
$header_description_color:#787F84;
$header_description_hover_color:#CCCCCC;
$footer_background_color:#363F44;
$footer_color:#CCCCCC;
$grid_background_color:rgba(0,0,0, 0);
$grid_color:#666179;
$grid_border_color:#666666;
$grid_header_color:#666179;
$grid_header_border_color:#666179;
$grid_tr_hover_background_color:#BACBB3;
$grid_tr_hover_color:#FFFFFF;
$tab_background_color:#363F44;
$tab_color:#DDDDDD;
$tab_selected_background_color:#22272B;
$tab_selected_color:#DDDDDD;
$button_background_color:rgba(0,0,0, 0);
$button_color:#6F6F6F;
$button_border_color:rgba(0,0,0, 0);
$button_hover_background_color:rgba(0,0,0, 0);
$button_hover_color:#505050;
$button_hover_border_color:rgba(0,0,0, 0);
$button_disabled_background_color:rgba(82,95,105, 0);
$button_disabled_color:#909192;
$button_disabled_border_color:rgba(0,0,0, 0);
*/
