
// Combo Box (PrimeNG)

app-root {

  .k-combobox-clearable .k-input {
    background: $combobox_background_color;
    color: $combobox_color;
  }

  .wa-ng-combo-box
  {
    height: 30px;
    background : $combobox_background_color;
    color: $combobox_color;
    padding-top: 6px;
    padding-left:6px;
  }

  .k-combobox .k-dropdown-wrap input {
    border-radius: 0px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border:none;

    .k-searchbar {
      background-color: transparent !important;
    }


    /*
    .k-dropdown .k-dropdown-wrap, .k-dropdowntree .k-dropdown-wrap, .k-dropdown .k-state-focused  {
      background: transparent;
      color: $input_color;
  }

    .k-dropdown .k-dropdown-wrap:hover {
        background: transparent;
        color: $input_color;
    }

    .k-dropdown-wrap .k-input {
        color: $input_color;
    }

    .k-dropdown-wrap {
      background-color: transparent !important;
      color: $input_color;
    }
    */




  }

  .k-combobox .k-dropdown-wrap {
    background-color: transparent !important;
    border: none;
  }


}


kendo-popup * {
  background: blue;
  color: red;
}

.k-dropdown .k-dropdown-wrap .k-select, .k-ie .k-dropdown .k-dropdown-wrap .k-select, .k-ff .k-dropdown .k-dropdown-wrap .k-select {
  background-color: red !important;
  border-left: solid #959694 thin !important;
  border-right: solid #959694 thin !important;
  border-radius: 0 20px 20px 20px !important;
}
/*
[data-role="popup"] {
  background-color: #fff !important;
  border-radius: 1px !important;
}
[data-role="popup"] ul li[class="k-item k-state-hover"], [data-role="popup"] ul li[class="k-item k-state-selected k-state-focused"] {
  border-radius: 0px;
}
*/
